.ambrosia_headshot_table_background {
  width:500px;
  height:auto;
  background-image: url('https://cdn.discordapp.com/attachments/821492439705321472/1150623258648002641/cubes2.jpg');
  background-color: #2a2e0d;
  border: solid 5px #b6746f;
}
.ambrosia_headshot_img {
  content: url('https://media.discordapp.net/attachments/821492439705321472/1132552654510370966/Ambrosia.png');
  float: right;  
  padding: 0;
  margin: -20px -30px -30px -20px;
  width: 250px;
  height: auto;
}

.ambrosia_headshot_middle {
  width: 430px;
  height: auto;
  margin: 30px 30px 30px 30px;
  background-color: rgba(86, 33, 29, 0.9);
  border: solid 3px #b6746f;
}
.ambrosia_headshot_table_text
{
  text-align: justify;
  font-family: georgia;
  font-size: small;
  color: #b6746f;
  line-height: 15px;
  margin: 10px 10px 10px 10px;
}
.ambrosia_headshot_table_text b
{
	font-weight:bold;
	color: #b2b2b2;
}