@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.anaire_table {
    display: flex;
    flex-shrink: 0;
    width: 500px;
    height: auto;
    background-image: linear-gradient(to bottom, #fe7495, #bec1f6, #fe7495);
  border-radius: 260px 260px 90px 90px;
}

.anaire_table_image {
  width:500px;
  height:auto;
  background: url('https://i.ibb.co/Lh0pFtB/anaire2-grad.jpg') no-repeat top center;
  background-size: 500px;
  background-color: #6f6c7d;
  margin: 5px 5px 5px 5px;
  border-radius: 260px 260px 90px 90px;
}

.anaire_table_textbox
{
  width: 460px;
  height: auto;
  background-color: rgba(63, 62, 80, 0.5);
  margin: 650px 10px 10px 10px;
  border-radius: 60px;
}

.anaire_table_text
{
  text-align: justify;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #371919;
  line-height: 20px;
  padding: 4%;
}

.anaire_table_text b
{
  font-family: "Caveat", cursive;
  font-size: 20px;
  font-style: bold;
  line-height: 22px;
  background-image: -webkit-linear-gradient(to right, #fe7495, #bec1f6);
  background-image: -moz-linear-gradient(to right, #fe7495, #bec1f6); 
  background-image: -ms-linear-gradient(to right, #fe7495, #bec1f6); 
  background-image: -o-linear-gradient(to right, #fe7495, #bec1f6); 
  background-image: linear-gradient(to right, #fe7495, #bec1f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.anaire_name {
  text-align: center;
  margin: 600px 200px -662px 0px;
  color:#432371;
  font-family: "Arizonia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  line-height: 70px;
  letter-spacing:7px;
  word-spacing:10px;
  font-style: bold;
  background-image: -webkit-linear-gradient(to right, #fe7495, #bec1f6);
  background-image: -moz-linear-gradient(to right, #fe7495, #bec1f6); 
  background-image: -ms-linear-gradient(to right, #fe7495, #bec1f6); 
  background-image: -o-linear-gradient(to right, #fe7495, #bec1f6); 
  background-image: linear-gradient(to right, #fe7495, #bec1f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  text-shadow: 0px 0px 10px rgba(255,255,255,1), 1px 1px 0 rgba(0,0,0,.1), 1px 1px 1px rgba(0,0,0,.05);
}