.arachne_table01 {
  width:500px;
  height:auto;
  background-image: linear-gradient(to bottom, transparent 280px, #01040b 350px), url("https://cdn.discordapp.com/attachments/791876609262354473/987883435064442901/arach-grad.jpg");
  background-color: #2f350f;
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: center bottom;
  border: outset 4px #112435;
  border-radius: 150px 150px 0px 0px;
  margin: 5px 5px 5px 5px;
}

.arachne_table01_inner
{
  width: 470px;
  height: 200px;
  overflow: auto;
  background-color: rgba(102,91,151, 0.2);
  margin: 350px 10px 10px 10px;
}

.arachne_table01_text
{
  text-align: justify;
  font-family: georgia;
  font-size: 13px;
  color: #806d67;
  line-height: 15px;
  padding:7%;
}

.arachne_table01_text b
{
  font-style: bold;
  color: #8eb5b2;
}

.arachne_table01-scrollbar01::-webkit-scrollbar
{
	width: 5px;
}

.arachne_table01-scrollbar01::-webkit-scrollbar-track
{
    background: rgba(255, 255, 255, 0);
}

.arachne_table01-scrollbar01::-webkit-scrollbar-thumb
{
    background: -webkit-gradient(linear,left top,left   bottom,from(#725c8a),to(#12103f));
    background: linear-gradient(180deg,#725c8a,#12103f);
    border-radius: 0px;
    box-shadow: inset 2px 2px 2px hsla(0%,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}