.arjana_table_background {
  width:500px;
  height:auto;
  background-color: #a3ccda;
  border-style: ridge;
  border-size: 5px;
  border-image: linear-gradient(to bottom, #37454a,rgba(255, 255, 255, 1)) 1 100%;
}
.arjana_table_middle {
  width: 460px;
  height:auto;
  margin: 10px 10px 40px 10px;
  border-left: solid 3px #37454a;
}
.arjana_table_text
{
  text-align: justify;
  font-family: georgia;
  font-size: 12px;
  font-variant: small-caps;
  color: #4a1b13;
  line-height: 14px;
  margin: 10px 10px 10px 10px;
}
.arjana_table_text b
{
	font-weight:bold;
	color:#37454a;
}
.arjana_table_text i
{
  font-weight:italic;
  color:#983f1f;
}