@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


.cass_flea_art_background {
  width:500px;
  height:auto;
  background-image: linear-gradient(to bottom, transparent 500px, #0E1A0C 750px), url('https://cdn.discordapp.com/attachments/821492439705321472/1135410796768280726/click-and-learn-photography-7J90Bxj-vtI-unsplash.jpg');
  background-size: cover;
  background-position: 50% 60%;
  background-color: #0E1A0C;
  border: solid 4px #4A376A;
}

.cass_flea_art_img {
  float: right;  
  margin: 10px -40px 0px 0px;
  width: 380px;
  height: auto;
  shape-outside: url("https://cdn.discordapp.com/attachments/771592695369170944/912141203124916254/IMG_0937.png");
  shape-image-threshold: 0.9;
  shape-margin: 2%;
}

.cass_flea_art_middle {
  width: 430px;
  height: auto;
  margin: 30px 30px 30px 30px;
  background-color: rgba(84, 69, 78, 0.85);
  border: solid 3px #4A376A;
}

.cass_flea_art_table_text
{
  text-align: justify;
  font-family: 'Inknut Antiqua', serif;
  font-size: 12px;
  color: #D0B692;
  line-height: 13px;
  margin: 10px 10px 10px 10px;
  padding: 5%;
}

.cass_flea_art_table_text b
{
	font-weight: bold;
  font-family: 'Poiret One', cursive;
  font-size: 16px;
	background-image: -webkit-linear-gradient(to right, #BAA35D, #616D3D);
  background-image: -moz-linear-gradient(to right, #BAA35D, #616D3D); 
  background-image: -ms-linear-gradient(to right, #BAA35D, #616D3D); 
  background-image: -o-linear-gradient(to right, #BAA35D, #616D3D); 
  background-image: linear-gradient(to right, #BAA35D, #616D3D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}