@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

.fearei_adult_table_border {
  margin: 0 auto; 
  width: 500px; 
  box-shadow: 0px 0px 3px rgba(0,0,0,0.8); 
  background-image: url('https://i.postimg.cc/dVQW0xyq/Adult-Fearei-Manip-Blurred.jpg'); 
  background-color:rgba(255 255 255 / 100%); 
  background-size: cover; 
  background-attachment: fixed; 
  background-position: center; 
  padding: 10px; 
  border: 1px solid #000000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}

.fearei_adult_table_body
{
  width: 490px;
  height: auto;
  background-image: url('https://i.postimg.cc/mDnjpLXh/Adult-Fearei-Manip.jpg');
  background-color: #526050;
  background-size: 490px;
  background-repeat: no repeat repeat;
  background-position: 70% -18%;
  border: 1px solid #000000;
}

.fearei_adult_inner
{
  width: 490px;
  height: auto;
  backdrop-filter: blur(40px);
  background-color: rgba(7, 22, 0, 0.75);
  margin: 500px 0px 0px 0px;
  border-top: solid 1px #000000;
}

.fearei_adult_text
{
  text-align: justify;
  font-family: "Winky Rough", sans-serif;
  font-size: 20px;
  color: #cbc9ca;
  line-height: 23px;
  padding: 1%;
}

.fearei_adult_text b
{
  font-weight: bold;
  color: #b18c7f;
  background-image: -webkit-linear-gradient(to right, #695e7e, #967969);
  background-image: -moz-linear-gradient(to right, #695e7e, #967969); 
  background-image: -ms-linear-gradient(to right, #695e7e, #967969); 
  background-image: -o-linear-gradient(to right, #695e7e, #967969); 
  background-image: linear-gradient(to right, #695e7e, #967969);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}