@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.gwendolyn_thread_tracker {
  width: 500px;
  height: auto;
  background-color: #67696d;
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: center top;
  border: double 8px #2a2e2e;
}

.gwendolyn_thread_tracker_img
{
  content: url('https://i.postimg.cc/W3tzYzBc/gwen.png');  
  padding: 0;
  margin: 0px 0px -135px 320px;
  width: 150px;
  height: auto;
}

.gwendolyn_thread_tracker_info
{
  width: 280px;
  height: 60px;
  overflow: auto;
  background-color: #f6f0e7;
  margin: 40px 0px 20px 10px;
  border-radius: 10px;
  padding: 1%;
  text-align: left;
  font-family: 'Nova Slim', cursive;
  font-size: 15px;
  color: #2a2e2e;
  line-height: 30px;
}

.gwendolyn_thread_tracker_blurb
{
  text-align: center;
  font-family: 'Nova Slim', cursive;
  font-size: 12px;
  color: #2a2e2e;
  line-height: 20px;
}

.gwendolyn_thread_tracker_separator
{
  text-align: center;
  font-style: italic;
  color: #2a2e2e;
  font-family: 'Kaushan Script', cursive;
  font-size:45px;
  line-height:75px;
  letter-spacing:3px;
  word-spacing:1px;
  margin: 0px 0px -35px 0px;
  -webkit-text-stroke: 1px #f6f0e7;
}

.gwendolyn_hr
{
  margin: 30px 0px -48px 0px;
  width: 470px;
  border: solid 3px #f6f0e7;
}

.gwendolyn_thread_tracker_text
{
  text-align: justify;
  font-family: 'Nova Slim', cursive;
  font-size: 10px;
  color: #2a2e2e;
  line-height: 15px;
  margin: 10px 10px 10px 10px;
}

.gwendolyn_tracker_box
{
  width: 410px;
  height: 200px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0);
  margin: 25px 10px 30px 40px;
  border-radius: 10px 10px 10px 10px;
  padding: 1%;
}

.gwendolyn_tracker_list ul li {
  list-style: circle;
  background: #f6f0e7;
  color: #2a2e2e;
  margin: 0px 20px 5px -10px;
  border-radius: 5px;
}

.gwendolyn_thread_header
{
  text-align: justify;
  font-family: 'Kaushan Script', cursive;
  font-size: 15px;
  color: #2a2e2e;
  line-height: 15px;
  margin: 10px 10px -5px 10px;
}

.gwendolyn_inner_hr
{
  margin: 5px 0px 0px 0px;
  width: 390px;
  border: solid 1px #f6f0e7;
}

/* unvisited link */
.gwendolyn_tracker_links a:link {
  color: #0359ce;
}

/* visited link */
.gwendolyn_tracker_links a:visited {
  color: #0359ce;
}

/* mouse over link */
.gwendolyn_tracker_links a:hover {
  color: #00cbba;
}

/* selected link */
.gwendolyn_tracker_links a:active {
  color: #00cbba;
}

.gwendolyn_tracker_scrollbar::-webkit-scrollbar
{
	width: 3px;
}

.gwendolyn_tracker_scrollbar::-webkit-scrollbar-track
{
    background: rgba(255, 255, 255, 0);
}

.gwendolyn_tracker_scrollbar::-webkit-scrollbar-thumb
{
    background: -webkit-gradient(linear,left top,left   bottom,from(#1b4b43),to(#4a756e));
    background: linear-gradient(180deg,#1b4b43,#4a756e);
    border-radius: 30px;
    box-shadow: inset 2px 2px 2px hsla(0%,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}