@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.Hjordis_floaty_pixel_background {
  width:500px;
  height:auto;
  background-image: url('https://cdn.discordapp.com/attachments/738626788208410678/1167112210280099890/COLOURlovers.com-Flying_blue.png?ex=654cf0f2&is=653a7bf2&hm=9cb3b3e3eb74143297e38f552aecade0be2da1fbf0b6d02072e2d01335ab9d14&');
  background-color: #12151C;
  border: solid 4px #AD6038;
}

.Hjordis_floaty_pixel_img {
  float: left;  
  margin: 50px 0px 0px 0px;
  width: 250px;
  height: auto;
  shape-outside: url("https://media.discordapp.net/attachments/771592695369170944/1159611284539592744/HjordisPixelWithBackground.png");
  shape-image-threshold: 0.01;
  shape-margin: 2%;
}

.Hjordis_floaty_pixel_middle {
  width: 430px;
  height: auto;
  margin: 30px 30px 30px 30px;
  background-color: rgba(0, 27, 48, 0.85);
  border: solid 3px #AD6038;
}

.Hjordis_floaty_pixel_table_text
{
  text-align: justify;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 15px;
  color: #b5cdcd;
  line-height: 18px;
  margin: 10px 10px 10px 10px;
  padding: 5%;
}

.Hjordis_floaty_pixel_table_text b
{
	font-weight: bold;
  font-family: 'Bad Script', cursive;
  font-size: 20px;
  line-height: 22px;
	background-image: -webkit-linear-gradient(to right, #86A38A, #D69DD2);
  background-image: -moz-linear-gradient(to right, #86A38A, #D69DD2); 
  background-image: -ms-linear-gradient(to right, #86A38A, #D69DD2); 
  background-image: -o-linear-gradient(to right, #86A38A, #D69DD2); 
  background-image: linear-gradient(to right, #86A38A, #D69DD2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}