@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

.IrkallaAdopt_table
{
  width:500px;
  height:auto;
  background-image: linear-gradient(to bottom, transparent 400px, #211e29 600px), url("https://cdn.discordapp.com/attachments/738626788208410678/1090451435453423757/zoltan-tasi-heuln8Cnm7s-unsplash.jpg");
  background-color: #211e29;
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: center top;
  border: solid 7px #a6a0b5;
  border-radius: 200px 200px 0px 0px;
}

.IrkallaAdopt_inner
{
  width: 470px;
  height: auto;
  background-color: rgba(66, 61, 81, 0.8);
  margin: 5px 5px 5px 5px;
}

.IrkallaAdopt_text
{
  text-align: justify;
  font-family: georgia;
  font-size: 13px;
  color: #a6a0b5;
  line-height: 15px;
  padding:2%;
}

.IrkallaAdopt_text b
{
  font-style: bold;
  color: #885d66;
}

.IrkallaAdopt_name {
  text-align: center;
  font-style: italic;
  color: #885d66;
  font-family: 'Metal Mania', cursive;
  font-size:60px;
  line-height:75px;
  letter-spacing:3px;
  word-spacing:1px;
  margin: -10px 0px -20px 0px;
  filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 1));
}
.IrkallaAdopt_img {
  content: url('https://cdn.discordapp.com/attachments/960339240502329344/1089935506042802246/TiamatxCaelumDesign.png');
  margin: 5px 0px 0px 0px;
  width: 470px;
  height: auto;
}