@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');


.Lottie_body {
  width:500px;
  height:auto;
  background-color: #2D2E40;
  border: double 4px #B8CFC6;
  border-radius: 10px 10px 100px 10px;
}

.Lottie_img {
  float: right;  
  margin: 630px -180px 0px 0px;
  width: 500px;
  height: auto;
  shape-outside: url("https://i.postimg.cc/SN3LtX5j/Charlotte-Base-Cub-1.png");
  shape-image-threshold: 15%;
  shape-margin: 1%;
}

.Lottie_table_text
{
  text-align: justify;
  font-family: 'Inknut Antiqua', serif;
  font-size: 13px;
  color: #BFA3BA;
  line-height: 14px;
  margin: 10px 10px 10px 10px;
  padding: 2%;
}

.Lottie_table_text b
{
	font-weight: bold;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  line-height: 21px;
	background-image: -webkit-linear-gradient(to right, #917CA6, #B8CFC6D);
  background-image: -moz-linear-gradient(to right, #917CA6, #B8CFC6); 
  background-image: -ms-linear-gradient(to right, #917CA6, #B8CFC6); 
  background-image: -o-linear-gradient(to right, #917CA6, #B8CFC6); 
  background-image: linear-gradient(to right, #917CA6, #B8CFC6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.Lottie_name {
  text-align: right;
  font-style: italic;
  background-image: -webkit-linear-gradient(to right, #917CA6, #B8CFC6);
  background-image: -moz-linear-gradient(to right, #917CA6, #B8CFC6); 
  background-image: -ms-linear-gradient(to right, #917CA6, #B8CFC6); 
  background-image: -o-linear-gradient(to right, #917CA6, #B8CFC6); 
  background-image: linear-gradient(to right, #917CA6, #B8CFC6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  font-family: "Zeyada", cursive;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: 3px;
  word-spacing: 1px;
  margin: 5px 10px -20px 0px;
}