.regine_table02_main {
  width:500px;
  height:500px;
  background-image: url("https://i.postimg.cc/m2LrbyC9/Regine-Manip.png");
  background-color: #2f350f;
  background-size: 850px;
  background-repeat: no-repeat;
  background-position: center bottom;
  border: solid 4px #5bb404;
  margin: 5px 5px 5px 5px;
}

.regine_table02_inner
{
  width: 250px;
  height: 500px;
  overflow: auto;
  background-color: rgba(36, 35, 33, 1);
  margin: 0px 0px 0px 250px;
}

.regine_table02_text
{
  text-align: justify;
  font-family: georgia;
  font-size: 13px;
  color: #9b9a9a;
  line-height: 15px;
  padding:2%;
}

.regine_table02_text b
{
  font-style: bold;
  color: #2caa06;
}


.regine_table02-scrollbar01::-webkit-scrollbar
{
	width: 5px;
}

.regine_table02-scrollbar01::-webkit-scrollbar-track
{
    background: rgba(255, 255, 255, 0);
}

.regine_table02-scrollbar01::-webkit-scrollbar-thumb
{
    background: -webkit-gradient(linear,left top,left   bottom,from(#1c6b01),to(#242321));
    background: linear-gradient(180deg,#1c6b01,#242321);
    border-radius: 30px;
    box-shadow: inset 2px 2px 2px hsla(0%,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}