@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

.Regine_floaty_pixel_background {
  width:500px;
  height:auto;
  background-color: #12151C;
  border: solid 4px #531516;
}

.Regine_floaty_pixel_img {
  float: right;  
  margin: 50px 0px 0px 0px;
  width: 250px;
  height: auto;
  shape-outside: url("https://f2.toyhou.se/file/f2-toyhou-se/images/78200390_dHGZrL7h6HKe0G9.png");
  shape-image-threshold: 0.01;
  shape-margin: 2%;
}

.Regine_floaty_pixel_middle {
  width: 430px;
  height: auto;
  margin: 30px 30px 30px 30px;
  background-color: rgba(27, 34, 44, 0.85);
  border: solid 3px #531516;
}

.Regine_floaty_pixel_table_text
{
  text-align: justify;
  font-family: 'Marcellus', serif;
  font-size: 15px;
  color: #60697E;
  line-height: 18px;
  margin: 10px 10px 10px 10px;
  padding: 5%;
}

.Regine_floaty_pixel_table_text b
{
	font-weight: bold;
  font-family: 'Risque', serif;
  font-size: 18px;
  line-height: 22px;
	background-image: -webkit-linear-gradient(to right, #661B1C, #71B221);
  background-image: -moz-linear-gradient(to right, #661B1C, #71B221); 
  background-image: -ms-linear-gradient(to right, #661B1C, #71B221); 
  background-image: -o-linear-gradient(to right, #661B1C, #71B221); 
  background-image: linear-gradient(to right, #661B1C, #71B221);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
