@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

.sika_adopt_table_background {
  width:450px;
  height:auto;
  background-color: #F8EDE3;
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: center top;
  border: solid 5px #464E2E;
}

.sika_adopt_table_img {
  content: url('https://cdn.discordapp.com/attachments/738626788208410678/1158582893845692526/Vio_x_Hali_x_Olive_StrawberryCub.png');
  margin: 0px 0px -25px 60px;
  width: 500px;
  height: auto;
}

.sika_adopt_table_text
{
  text-align: justify;
  font-family: georgia;
  font-size: 13px;
  color: #464E2E;
  line-height: 15px;
  padding:2%;
  margin: 10px 10px 0px 10px;
}

.sika_adopt_table_text b
{
  font-style: bold;
  background-image: -webkit-linear-gradient(to right, #8b7eac, #443861);
  background-image: -moz-linear-gradient(to right, #8b7eac, #443861); 
  background-image: -ms-linear-gradient(to right, #8b7eac, #443861); 
  background-image: -o-linear-gradient(to right, #8b7eac, #443861); 
  background-image: linear-gradient(to right, #362706, #534340);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.sika_adopt_name {
  text-align: center;
  font-style: bold;
  color: #5F7161;
  font-family: 'Zeyada', cursive;
  font-size:60px;
  line-height:75px;
  letter-spacing:3px;
  word-spacing:1px;
  margin: 10px 0px -5px 0px;
  filter: drop-shadow(2px 2px 0.5px rgb(0 0 0 / 1));
}