@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


.izolda_table
{
  width: 500px;
  height: auto;
  background-color: #79859e;
  margin: -50px -20px 0px 0px;
  border-top: 15px #5f3321 solid;
}

.izolda_image
{
  content: url('https://i.postimg.cc/fWd8BWbt/Random-Tiger-Design-v2-side-1.png');
  width: 550px;
  height: auto;
}

.izolda_text
{
  text-align: justify;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  color: #151f3a;
  line-height: 14px;
  margin: 20px 25px 20px 25px;
  padding: 0.5%;
}

.izolda_name {
  text-align: center;
  font-style: italic;
  color: #eacccc;
  font-family: 'Rock Salt', cursive;
  font-size:45px;
  line-height:75px;
  letter-spacing:20px;
  word-spacing:1px;
  margin: -40px 0px -40px 0px;
  -webkit-text-stroke: 2px #5f3321;
}

.izolda_text b {
  font-style: bold;
  background-image: -webkit-linear-gradient(to right, #aad2c5, #cee398);
  background-image: -moz-linear-gradient(to right, #aad2c5, #cee398); 
  background-image: -ms-linear-gradient(to right, #aad2c5, #cee398); 
  background-image: -o-linear-gradient(to right, #aad2c5, #cee398); 
  background-image: linear-gradient(to right, #aad2c5, #cee398);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}