.veritas_flowers_background {
  width: 500px;
  height: auto;
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #ffffff, #dcbbcb, #8e3b48);
  
}
.veritas_flowers_img {
  content: url('https://i.postimg.cc/SsJ78Tyj/Flowers.png');
  margin: 0px 0px 0px 0px;
  width: 500px;
  height: auto;
}

.veritas_flowers_middle {
  width: 470px;
  height: auto;
  margin: -10px 10px 10px 10px;
  padding: 1px;
  background-color: rgb(217, 208, 214, 0.95);
  border-left: solid 3px #6f6ba1;
  border-right: solid 3px #6f6ba1;
}

.veritas_flowers_text
{
  text-align: justify;
  font-family: georgia;
  font-size: small;
  color: #390000;
  line-height: 13px;
  margin: 10px 10px 10px 10px;
}

.veritas_flowers_text b
{
	font-weight:bold;
	background-image: -webkit-linear-gradient(to right, #2f3b0c, #787f54);
  background-image: -moz-linear-gradient(to right, #2f3b0c, #787f54); 
  background-image: -ms-linear-gradient(to right, #2f3b0c, #787f54); 
  background-image: -o-linear-gradient(to right, #2f3b0c, #787f54); 
  background-image: linear-gradient(to right, #2f3b0c, #787f54);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}