@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');


.Xandria_body {
  width:500px;
  height:auto;
  background-color: #1A253E;
  border: double 4px #ECECF0;
  border-radius: 100px 10px 100px 10px;
}

.Xandria_img {
  float: left;  
  margin: -10px 40px 10px -130px;
  width: 500px;
  height: auto;
  shape-outside: url("https://i.postimg.cc/Jzv7YpqN/Xandria-Art.png");
  shape-image-threshold: 15%;
  shape-margin: 1%;
}

.Xandria_table_text
{
  text-align: justify;
  font-family: 'Inknut Antiqua', serif;
  font-size: 13px;
  color: #d3d2da;
  line-height: 14px;
  margin: 10px 10px 10px 10px;
  padding: 2%;
}

.Xandria_table_text b
{
	font-weight: bold;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  line-height: 21px;
	background-image: -webkit-linear-gradient(to right, #BAA35D, #616D3D);
  background-image: -moz-linear-gradient(to right, #847994, #5C5C5C); 
  background-image: -ms-linear-gradient(to right, #847994, #5C5C5C); 
  background-image: -o-linear-gradient(to right, #847994, #5C5C5C); 
  background-image: linear-gradient(to right, #C4A39B, #D4D6DF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.Xandria_name {
  text-align: left;
  font-style: italic;
  color: #CCCED9;
  font-family: "Lavishly Yours", cursive;
  font-size: 55px;
  line-height: 55px;
  letter-spacing: 3px;
  word-spacing: 1px;
  margin: -5px 0px -20px 0px;
}